<h1>Home</h1>

<%= render partial: 'shared/messages' %>

<p class="lead well">
  Adbum is a minimalistic API to retrieve images on demand. We store and serve the media, you just need to use them!
</p>

<h2>Motivation</h2>
<p>
  Some advertisement agencies need to display images based on keywords for their campaigns. Adbum is a simple but
  reliable way of getting images based on tags. Our clients do not need to store and process the media, they just need to
  manage and catalog them trough our <%= link_to 'Repository', images_path %>. Are you ready? Please visit our
  <%= link_to 'documentation', '#' %> and feel free to play in the <%= link_to 'sandbox', '#' %>.
</p>

<h2>Getting Started</h2>

<p>
  First of all, you need to build the <%= link_to 'repository', images_path %> using our web console. You can
  upload as many images as you want, specifying the tags to retrieve them later. To get the list of images,
  you just need to provide two arguments: <b>tags</b> and <b>limit</b>. Please see the following example:
</p>

<h4>Java Script</h4>
<pre class="prettyprint well">
  <code class="lang-js">
    $.getJSON('<%= "#{path_to_url('api/images')}?tags=cute,cat&limit=20" %>', function(data){
        console.log(data);
    });
  </code>
</pre>
