<%
  # Control if this view is rendered to create or update an image
  edit = @image.persisted?
%>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_for @image, authenticity_token: true, html: {multipart: true} do |f| %>

      <% @filter.each do |tag| %>
        <%= hidden_field_tag 'filter[]', tag %>
      <% end %>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= edit ? 'Edit' : 'New' %> Image</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <% if @image.media.exists? %>
            <%= image_tag @image.media.url(:medium), class: 'center-block' %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :tags %>
          <%= f.select :tags, @image.tags, {}, multiple: :multiple, include_blank: false %>
        </div>
        <div class="form-group">
          <%= f.label :media %>
          <%= f.file_field :media, class: 'form-control' %>
        </div>
      </div>

      <div class="modal-footer">
        <% if edit %>
          <%= link_to image_path(@image.id, filter: @filter), method: :delete, class: 'btn btn-danger pull-left' do %>
            Remove
          <% end %>

          <% if @prev.present? %>
            <%= link_to edit_image_path(@prev, filter: @filter), remote: true, class: 'btn btn-default' do %>
              Prev
            <% end %>
          <% end %>

          <% if @next.present? %>
            <%= link_to edit_image_path(@next, filter: @filter), remote: true, class: 'btn btn-default' do %>
              Next
            <% end %>
          <% end %>
        <% end %>

        <%= f.submit edit ? 'Update' : 'Create', class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>