<h1>Repository</h1>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <%= form_tag search_images_path, class: 'navbar-form navbar-left' do %>
      <div class="form-group">
        <%= select_tag 'filter[]', options_for_select(@filter.map{|tag| [tag, tag]}, @filter), multiple: :multiple, include_blank: false %>
        <%= submit_tag 'Search', class: 'btn btn-default' %>
      </div>
    <% end %>

    <ul class="nav navbar-nav">
      <li><a href="#"><b><%= @images.size %></b> images found</a></li>
    </ul>

    <div class="navbar-form navbar-right">
      <%= link_to new_image_path(filter: @filter), remote: true, class: 'btn btn-primary pull-right' do %>
        Add
      <% end %>
    </div>
  </div>
</nav>

<%= render partial: 'shared/messages' %>

<%#= Group images by rows of 4 %>
<% @images.each_slice(4) do |row| %>
  <div class="row">
    <% row.each do |image| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_path(image, filter: @filter), remote: true do %>
            <%= image_tag image.media.url(:medium) %>
          <% end %>
          <div class="caption">

            <ul class="list-unstyled">
              <li><b>Dimensions:</b> <%= image.width %> X <%= image.height %></li>
              <li><b>Tags:</b> <%= image.tags.join(', ') %></li>
            </ul>

            <%= link_to image_path(image, filter: @filter), method: :delete, class: 'btn btn-danger pull-left' do %>
              Remove
            <% end %>

            <%= link_to edit_image_path(image, filter: @filter), remote: true, class: 'btn btn-default pull-right' do %>
              Edit
            <% end %>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div id="imageDialog" class="modal"></div>
